@use './variables' as var;

.section__hero-img{
    display: flex;
    align-items: center;
    justify-content: center;

}
.section__hero-img--images{
    position: relative;
    min-width: 100vw;
}
.section__hero-img--button{
    display: inline-block;
    background: white;
    border: none;
}
.button-prev{
    position: absolute;
    top:50%;
    left:1rem;
    transform: translate(-50%, -50%);
}
.button-next{
    position: absolute;
    top:50%;
    right: 2rem;
    transform: translate(50%, -50%)
}
img{
    height:35vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: var.$tablet-bp) {
    img{
        justify-content: center ;
    }
}